.availability-menu { background-color: var(--clr-navy-700); position:fixed;top:0;width:100%}
.nav-up:not(.open) {
    transform: translateY(-169px);
}
.availability-menu.open {
    background-color: #14264f;
}
.availability-menu.open .mob-logo img {
    opacity: 0;
}
.navbar {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    background-color: #303c47;
}
.mob-logo {
    padding: 11px 0;
    max-width: 204px;
    line-height: 1em;
}
.mob-logo a {
    display: block;
}
.mob-logo img {
    vertical-align: middle;
    transition: all .3s ease;
}
.hamburger-menu {
    height: 46px;
    cursor: pointer;
}
.bar, .bar:after, .bar:before {
    width: 23px;
    height: 3px;
}
.bar {
    position: relative;
    background: #ffffff;
    transition: all 0s .3s;
    transform: translateY(21px);
}
.bar.animate {
    background: rgba(255, 60, 71, 0);
}
.bar:before {
    position: absolute;
    bottom: 7px;
    left: 0;
    background: #ffffff;
    content: "";
    transition: bottom .3s .3s cubic-bezier(.23, 1, .32, 1), transform .3s cubic-bezier(.23, 1, .32, 1);
}
.bar:after {
    position: absolute;
    top: 7px;
    left: 0;
    background: #ffffff;
    content: "";
    transition: top .3s .3s cubic-bezier(.23, 1, .32, 1), transform .3s cubic-bezier(.23, 1, .32, 1);
}
.bar.animate:after {
    top: 0;
    background-color: #fff;
    transition: top .3s cubic-bezier(.23, 1, .32, 1), transform .3s .3s cubic-bezier(.23, 1, .32, 1);
    transform: rotate(45deg);
}
.bar.animate:before {
    bottom: 0;
    background-color: #fff;
    transition: bottom .3s cubic-bezier(.23, 1, .32, 1), transform .3s .3s cubic-bezier(.23, 1, .32, 1);
    transform: rotate(-45deg);
}
.availability-menu-child {
    background-color: #14264f;
    text-transform: capitalize;
    width: 100%;
    position: fixed;
    top: 62px;
    bottom: 0;
    overflow: hidden;
    display: none;
    overflow-y: auto;
}
.availability-menu-child a {
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 52px;
    font-family: 'PT Serif', serif;
}
.availability-menu-child a:focus {
    text-decoration: none;
}
.availability-menu-child ul {
    border-top: 1px solid #506680;
}
.availability-menu-child li {
    position: relative;
    border-bottom: 1px solid #506680;
}
.availability-menu-child li a {
    position: relative;
}
.availability-menu-child li i.fa-angle-down {
    position: absolute;
    right: 0;
    font-size: 20px;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .3s ease;
    color: #fff;
}
.availability-menu-child li.active i.fa-angle-down {
    transform: rotate(180deg);
}
.availability-menu-child li i.fa-phone {
    color: #09b4e6;
    vertical-align: middle;
    font-size: 18px;
    margin-right: 5px;
}
.open .availability-menu-child ul>li {
    opacity: 1;
    transform: none;
}
.mob-sub-menu {
    font-size: 14px;
    display: none;
    border-top: 1px solid #506680;
    padding: 15px 0;
}
.mob-sub-menu a {
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-transform: none;
    padding-left: 40px;
    font-family: 'Nunito-SemiBold';
    text-transform: uppercase;
}
.availability-menu-top .nav-pages {
    display:flex;
    align-items: flex-end;
    justify-content:center;
    background:var(--clr-grey-75);
    position:absolute !important;
    bottom:0;
    left:0;
}

.availability-menu-top {
    min-height:60px;
    align-items:center;
}

.nav-search-bar {
    background:var(--clr-grey-75);
    color:var(--clr-white);
    position:fixed;
    top:62px; 
    width:100vw;
    left:0;right:0;
    display:flex;
    align-items:center;
    gap:8px;
    justify-content:end;
    padding:12px;"
}

    .nav-search-bar select,
    .nav-search-bar input {
        max-height:32px;
        font-size:16px;
        padding:4px;
        font-family: var(--font-primary);
    }

.breadcrumb {
    font-size:var(--font-size-xs);
    color:var(--clr-grey-50);
}

.btn {
    font-family: var(--font-primary);
}
.btn-sm {
    height:auto;
    padding:8px 12px!important;
    line-height:1em;
}

.availavility-v2 .form-control {
    appearance: auto;
}


.mbl-details {
    background:var(--clr-azure-95);
    padding:36px 0;
    margin-top:var(--space-5);
}


.mbl-master-table {
    text-align:center;
    border-radius:var(--border-radius-md);
    border:1px solid var(--clr-azure-85);
    box-shadow: var(--shadow-md);
    margin-bottom:-38px;
    z-index:1;
    position:relative;
    background:white;
    display:inline-flex;
    align-self:flex-end;
}

    .mbl-master-table .table-col {
        border-right:1px solid var(--clr-azure-85);
        padding:0;
    }

    .mbl-master-table .table-header {
        font-family: var(--font-secondary);
        color: var(--clr-azure-46);
        font-size: var(--font-size-xs); line-height:1.1em;
        border-bottom:1px solid var(--clr-azure-85);
        padding:var(--space-3);
        text-transform: uppercase;
        text-wrap: no-wrap;
    }

    .mbl-master-table .table-data {
        font-family: var(--font-primary);
        font-weight:bolder;
        padding:var(--space-3);
        font-size:var(--font-size-base); line-height:1.1em;
        align-items:center;
    }

.terminal-appt-status {
    border-radius:var(--border-radius-md);
    background:white;
    margin-top:var(--space-6);
    line-height:1em;
    display:flex;
    align-items:center;
}

    .terminal-appt-status span:first-child{
        background: var(--clr-cyan-47) url('../_images/terminal-status-arrow.webp') no-repeat 101% center / auto 100%;
        display:inline-block;
        padding:var(--space-4);
            padding-right:40px;
        border-top-left-radius: var(--border-radius-md);
        border-bottom-left-radius: var(--border-radius-md);
        color:white;
        font-family: var(--font-secondary);
        font-weight:bolder;
    }

    .terminal-appt-status .status {
        border-radius:var(--border-radius-md);
        background:white;
        margin-left:var(--space-2);
        padding:var(--space-4);
        font-family:var(--font-primary);
        font-size:var(--font-size-lg);
    }

.milestone-v2 {
    font-family:var(--font-primary);
    line-height:1em;
    align-items:center;
    justify-content: space-between;
}

    .milestone-v2  .col-auto {
        align-items: center;
        display:flex;
        flex-direction: column;
    }

    .milestone-v2 .check {
        border-bottom:1px solid var(--clr-grey-75);
        padding-bottom:var(--space-2);
        font-weight:bolder;
    }

    .milestone-v2 .date {
        padding-top:var(--space-2);
        font-weight:bolder;
        color: var(--clr-success);
            color: var(--clr-grey-50);
    }

    .milestone-v2 .icon-64 {
        width:auto;
        height:2.125vw;
        object-fit:contain;
        object-position: bottom center;
        margin-top:var(--space-3);
    }

.hbl-master-list {
    background:var(--clr-azure-95);
}

   .hbl-master-list .hbl-list-item {
        background:var(--clr-white); 
        margin-left:0; margin-right:0; /* This fixes .row negative margins */
        border-radius:8px;
        font-family:var(--font-primary);
        justify-content: space-between;
        align-items: center;
        cursor:pointer;
        transition:background-color .3s ease;
        min-height:40px;
        box-shadow:var(--shadow-sm);
   }

   .hbl-master-list .hbl-list-grid {
        display: grid;
        grid-template-columns: 200px 75px 75px 75px minmax(280px, auto) minmax(185px, auto) 50px 45px 152px;
        /* Opcional: para definir explícitamente una sola fila */
        grid-template-rows: auto; 
        gap:0; /* Opcional: para añadir espacio entre columnas */
        align-items: center; /* Opcional: para alinear verticalmente el contenido */
        justify-content:stretch;
    }

    .hbl-master-list .hbl-list-grid div:first-child{
        padding-left:12px;
    }

        .hbl-master-list .hbl-list-item:hover {
            background:var(--clr-blue-light-bg);
            color:black;
            text-decoration: none;
        }
            .hbl-master-list .hbl-list-item:hover div{
                text-decoration: none;
            }

        .hbl-master-list .hbl-list-item button.details {
            transition:all .3s ease;
            position:relative;
            right:-10px;
            opacity:0;
            text-wrap: nowrap;
            border-radius:100px;
            font-weight:700;
        }

            .hbl-master-list .hbl-list-item:hover button.details{
                right:0px;
                opacity:1;
            }

            .hbl-master-list .hbl-list-item:hover button.details:hover {
                background:var(--clr-blue-light-bg);
                border:var(--clr-blue-light-bg);
            }

        .hbl-master-list .hbl-list-item button:hover {
            background: var(--clr-azure-09);
            border:var(--clr-azure-09);
        }


   .hbl-master-list .hbl-list-item .badge.local-pickup {
        background:var(--clr-info-light);
        color:var(--clr-info-dark);
   }
   .hbl-master-list .hbl-list-item .badge.ipi-tracing {
        background:var(--clr-success-light);
        color:var(--clr-success-dark);
   }

   .hbl-master-list .hbl-item-details-modal {
    min-width:90vw;
   }