.availability-menu { background-color: var(--clr-navy-700); position:fixed;top:0;width:100%}
.nav-up:not(.open) {
    transform: translateY(-169px);
}
.availability-menu.open {
    background-color: #14264f;
}
.availability-menu.open .mob-logo img {
    opacity: 0;
}
.navbar {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    background-color: #303c47;
}
.nav-logo {
    padding: 0.6875rem 0;
    max-width: 12.65rem;
    line-height: 1em;
}
.nav-logo a {
    display: block;
}
.nav-logo img {
    vertical-align: middle;
    transition: all .3s ease;
}
.hamburger-menu {
    height: 2.875rem;
    cursor: pointer;
}
.bar, .bar:after, .bar:before {
    width: 1.4375rem;
    height: 0.1875rem;
}
.bar {
    position: relative;
    background: #ffffff;
    transition: all 0s .3s;
    transform: translateY(1.3125rem);
}
.bar.animate {
    background: rgba(255, 60, 71, 0);
}
.bar:before {
    position: absolute;
    bottom: 0.4375rem;
    left: 0;
    background: #ffffff;
    content: "";
    transition: bottom .3s .3s cubic-bezier(.23, 1, .32, 1), transform .3s cubic-bezier(.23, 1, .32, 1);
}
.bar:after {
    position: absolute;
    top: 0.4375rem;
    left: 0;
    background: #ffffff;
    content: "";
    transition: top .3s .3s cubic-bezier(.23, 1, .32, 1), transform .3s cubic-bezier(.23, 1, .32, 1);
}
.bar.animate:after {
    top: 0;
    background-color: #fff;
    transition: top .3s cubic-bezier(.23, 1, .32, 1), transform .3s .3s cubic-bezier(.23, 1, .32, 1);
    transform: rotate(45deg);
}
.bar.animate:before {
    bottom: 0;
    background-color: #fff;
    transition: bottom .3s cubic-bezier(.23, 1, .32, 1), transform .3s .3s cubic-bezier(.23, 1, .32, 1);
    transform: rotate(-45deg);
}
.availability-menu-child {
    background-color: #14264f;
    text-transform: capitalize;
    width: 100%;
    position: fixed;
    top: 3.875rem;
    bottom: 0;
    overflow: hidden;
    display: none;
    overflow-y: auto;
}
.availability-menu-child a {
    color: #fff;
    display: block;
    font-size: 1rem;
    line-height: 3.25rem;
    font-family: 'PT Serif', serif;
}
.availability-menu-child a:focus {
    text-decoration: none;
}
.availability-menu-child ul {
    border-top: 0.0625rem solid #506680;
}
.availability-menu-child li {
    position: relative;
    border-bottom: 0.0625rem solid #506680;
}
.availability-menu-child li a {
    position: relative;
}
.availability-menu-child li i.fa-angle-down {
    position: absolute;
    right: 0;
    font-size: 1.25rem;
    top: 0;
    padding-top: 0.9375rem;
    padding-bottom: .9375rem;
    transition: all .3s ease;
    color: #fff;
} 
.availability-menu-child li.active i.fa-angle-down {
    transform: rotate(180deg);
}
.availability-menu-child li i.fa-phone {
    color: #09b4e6;
    vertical-align: middle;
    font-size: 1.125rem;
    margin-right: 0.3125rem;
}
.open .availability-menu-child ul>li {
    opacity: 1;
    transform: none;
}
.mob-sub-menu {
    font-size: 0.875rem;
    display: none;
    border-top: 0.0625rem solid #506680;
    padding: 0.9375rem 0;
}
.mob-sub-menu a {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.875rem;
    text-transform: none;
    padding-left: 2.5rem;
    font-family: 'Nunito-SemiBold';
    text-transform: uppercase;
}
.availability-menu-top .nav-pages {
    display:flex;
    align-items: flex-end;
    justify-content:center;
    background:var(--clr-grey-75);
    position:absolute !important;
    bottom:0;
    left:0;
}

.availability-menu-top {
    min-height:3.75rem;
    align-items:center;
}

.nav-search-bar {
    background:var(--clr-azure-95);
    color:var(--clr-white);
    position:fixed;
    top:3.875rem; 
    width:100vw;
    left:0;right:0;
    display:flex;
    align-items: stretch;
    gap:.5rem;
    justify-content:end;
    padding:0.75rem;
    border-bottom:2px solid var(--clr-azure-70);
    box-shadow: 0 .5rem 1rem  rgb(0 0 0 / 0.05), 0 .125rem .25rem rgb(0 0 0 / 0.1);
}

    .nav-search-bar select,
    .nav-search-bar input,
    input.form-control {
        height:2rem;
        font-size:1rem;
        padding:.25rem;
        font-family: var(--font-primary);
        border:.0625rem solid var(--clr-azure-80);
    }

    .modal-body select,
    .modal-body input,
    .modal-body input.form-control {
        height:2.9375rem;
        font-size:var(--font-size-base);
        padding:.5rem;
        font-family: var(--font-primary);
        border:.0625rem solid var(--clr-azure-80);
    }

    .nav-search-bar input,
    input.form-control {
        text-transform:uppercase;
        font-size:var(--text-size-xs);
    }

    .nav-search-bar .btn-close {
        align-self:center;
    }

.breadcrumb {
    font-size:var(--font-size-2xs);
    color:var(--clr-navy-500);
    font-family: var(--font-secondary);
}

.breadcrumb-item .bi {
    margin-top:-.15rem;
    font-size:var(--font-size-sm);
}

.btn {
    font-family: var(--font-primary);
}
.btn-sm {
    height:auto!important;
    padding:.5rem .75rem!important;
    line-height:1em;
}

.btn-info:hover {
    background-color:var(--clr-azure-09);
    border-color:var(--clr-azure-09);
}

.availavility-v2 .form-control {
    appearance: auto;
    padding-right:1rem;
}


.mbl-details {
    background:var(--clr-azure-95);
    padding:2.25rem 0;
    margin-top:var(--space-5);
}


.mbl-master-table,
.ipi-master-table {
    text-align:center;
    border-radius:var(--border-radius-md);
    border:0.0625rem solid var(--clr-azure-85);
    box-shadow: var(--shadow-md);
    margin-bottom:-2.375rem;
    z-index:1;
    position:relative;
    background:white;
    display:inline-flex;
    align-self:flex-end;
    font-family:var(--font-primary);
}

.ipi-master-table {
    align-items: center;
}

    .mbl-master-table .table-col {
        border-right:0.0625rem solid var(--clr-azure-85);
        padding:0;
        flex-grow:2;
        display: flex;
        flex-direction: column;
    }

    .mbl-master-table .table-header {
        font-family: var(--font-secondary);
        color: var(--clr-azure-46);
        font-size: var(--font-size-xs); line-height:1.1em;
        border-bottom:0.0625rem solid var(--clr-azure-85);
        padding:var(--space-3);
        text-transform: uppercase;
        text-wrap: no-wrap;
    }

    .mbl-master-table .table-data {
        font-family: var(--font-primary);
        font-weight:bolder;
        padding:var(--space-3);
        font-size:var(--font-size-base); line-height:1.1em;
        display: flex;
        align-items:center;
        flex-grow: 10;
        flex-wrap: wrap;
        justify-content: center;
    }

.terminal-appt-status {
    border-radius:var(--border-radius-md);
    background:white;
    margin-top:var(--space-6);
    line-height:1em;
    display:flex;
    align-items:center;
}

    .terminal-appt-status span:first-child{
        background: var(--clr-cyan-47) url('../_images/terminal-status-arrow.webp') no-repeat 101% center / auto 100%;
        display:inline-block;
        padding:var(--space-4);
            padding-right:2.5rem;
        border-top-left-radius: var(--border-radius-md);
        border-bottom-left-radius: var(--border-radius-md);
        color:white;
        font-family: var(--font-secondary);
        font-weight:bolder;
        align-self:stretch;
        align-content:center;
        flex-shrink:0;
    }

    .terminal-appt-status .status {
        border-radius:var(--border-radius-md);
        background:white;
        margin-left:var(--space-2);
        padding:var(--space-4);
        font-family:var(--font-primary);
        font-size:var(--font-size-lg);
        line-height: 120%;
    }

.milestone-v2 {
    font-family:var(--font-primary);
    line-height:1em;
    align-items:center;
    display: grid;
    grid-template-columns: repeat(11, auto);
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}

    .milestone-v2  .col-auto {
        align-items: center;
        display:flex;
        flex-direction: column;
    }

    .milestone-v2 .check {
        border-bottom:0.0625rem solid var(--clr-grey-75);
        padding-bottom:var(--space-2);
        font-weight:bolder;
        font-size:var(--font-size-base);
    }

    .milestone-v2 .date {
        padding-top:var(--space-1);
        font-weight:bolder;
        color: var(--clr-success);
            color: var(--clr-navy-500);
        font-size:var(--font-size-lg);
    }

    .milestone-v2 .icon-64 {
        width:auto;
        height:4vw;
        object-fit:contain;
        object-position: bottom center;
        margin-top:var(--space-1);
    }

.mbl-details .lfd-godate {
    background:white!important;
    border-radius: .5rem;
    padding:.5rem 1rem .5rem .75rem;
}

.hbl-master-list {
    background:var(--clr-azure-95);
    min-height:calc(100vh - 255px - 28.75rem);
}

   .hbl-master-list .hbl-list-item {
        background:var(--clr-white); 
        margin-left:0; margin-right:0;
        border-radius:.5rem;
        font-family:var(--font-primary);
        justify-content: space-between;
        align-items: center;
        transition:background-color .3s ease;
        min-height:2.5rem;
        box-shadow:var(--shadow-sm);
   }


    .hide-label { 
        display:none; 
        font-family:var(--font-secondary);
        line-height:1em;
        text-transform:uppercase;
        font-size:var(--font-size-xs);
        color:#57687A;
    }


   /* ----    HBL Table layout.    ----- */

.hbl-master-list .hbl-list-grid {
    display: grid;
    grid-template-columns: 2.1875rem 7.5rem 4.6875rem 4.6875rem 4.6875rem 4.25rem 2.8125rem 11.375rem 3.125rem minmax(5.9375rem, auto) minmax(15.625rem, auto);
    grid-template-rows: auto; 
    gap:.75rem;
    align-items: center; 
    justify-content:stretch;
    
}

    .hbl-master-list .hbl-list-grid div:first-child{
        padding-left:0px;
    }

        .hbl-master-list .hbl-list-item:hover {
            
            color:black;
            text-decoration: none;
        }
            .hbl-master-list .hbl-list-item:hover div{
                text-decoration: none;
            }

            .hbl-master-list .btn-link:hover {
                color:var(--clr-azure-19);
            }


    .hbl-list-item .bi.bi-check,
    .hbl-list-item .bi.bi-dash {
        font-size:var(--font-size-4xl);
        line-height:1em;
    }
        .hbl-list-item .bi.bi-check { color:var(--clr-success); }
        .hbl-list-item .bi.bi-dash { color:var(--clr-grey-65); }

   .hbl-master-list .hbl-list-item .badge.ipi-tracing {
        background:var(--clr-info-light);
        color:var(--clr-info-dark);
        font-size:var(--font-size-sm);
   }
   .hbl-master-list .hbl-list-item .badge.local-pickup {
        background:var(--clr-success-light);
        color:var(--clr-success-dark);
        font-size:var(--font-size-sm);
   }



   .hbl-master-list .hbl-item-details-modal {
        min-width: 93vw;
        font-family:var(--font-primary);
   }

   .offcanvas-header, 
   .offcanvas-body {
        padding:var(--space-3) var(--space-5);
   }

    .offcanvas-header { 
        justify-content:space-between; 
        padding-top:var(--space-5); 
        box-shadow: var(--shadow-sm);
    }
    .offcanvas-body {
        display:flex;
        flex-direction:column;
        gap:var(--space-8);
        background: white;
        padding-top:0;
    }

    .offcanvas-header .hbl-number {
        color:#002A8D;
    }

    .hbl-details-body-main {
        background: white;
        padding: var(--space-6) var(--space-3) 0 var(--space-3);
        margin-bottom: var(--space-6);
    }


 
    .hbl-item-details-modal .badge.pill-hold {
            background:var(--clr-danger-light);
            color:var(--clr-danger-dark);
            line-height:1em;
            padding-top:.5rem;
            padding-bottom:.5rem;
            padding-right:.75rem;
            padding-left:.75rem;
            font-size:var(--font-size-sm);
            min-width:3.75rem;
    }
        .hbl-item-details-modal .badge.pill-hold.disabled {
            background:var(--clr-azure-95);
            color:var(--clr-azure-80);
        }
        .hbl-item-details-modal .badge.pill-hold.success {
            background:var(--clr-success-light);
            color:var(--clr-success-dark);
        }


    .hbl-list-item .btn-charges-mbl {
        min-width:5.3125rem;
        border-radius:6rem;
        padding:var(--space) var();
    }

    .hbl-list-item .btn-charges-mbl {
        text-align:center;
    }

    .hbl-list-item .btn-charges-mbl .btn-icon {
        opacity: 0;
        font-size:var(--font-size-xl)!important;
    }

    .hbl-list-item .btn-charges-mbl:hover .btn-icon {
        opacity: 1;
        margin-left:0;
    }

    .hbl-list-item .btn-charges-mbl span {
        transition:all ease .2s;
    }
    .hbl-list-item .btn-charges-mbl:hover span {
        opacity:0;
        width:0;
        display:none;
    }

    .hbl-list-item .btn-charges-mbl:hover .btn-icon img  {
        filter: brightness(0) saturate(100%) invert(59%) sepia(45%) saturate(4297%) hue-rotate(110deg) brightness(89%) contrast(84%);
        height:1.75rem;
    }


    .hbl-item-details-modal .info-bar {
        display:flex;
        justify-content:space-between;
        gap:2rem;
    }

    .hbl-item-details-modal .frt-status {
        width:21rem;
    }

    .hbl-item-details-modal  .date-with-icon {
        font-size:var(--font-size-2xl);
        font-weight:bolder;
        line-height:1.1em;
    }

    .hbl-item-details-modal .info-bar .info-status {
        min-width:25%;
    } 

    .info-item-holds {
        margin-right:auto;
    }

    .hbl-item-details-modal .info-bar .info-item {
        display:flex; flex-direction:column;
        gap:.25rem;
    }

    .hbl-item-details-modal .hbl-subheader {
        font-size:var(--font-size-lg);
        color:var(--clr-navy-500);
        font-family:var(--font-headings);
    }

    .hbl-item-details-modal .details-card {
        border-radius:var(--border-radius-md);
        background:#F9F9F9;
        padding:var(--space-5);
    }

        .details-card .details-grid .main-details .border {
            border-bottom:0.0625rem solid var(--clr-azure-70);
        }

        .hbl-item-details-modal .details-card.ipi-status {
            padding:var(--space-5);
        }

        .details-card .main-details {
            display: grid;
            grid-template-columns: 1.5fr repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-row-gap: 1rem;
        }

    .details-card.logistic-details,
    .details-card.notes-details,
    .details-card.exam-details,
    .details-card.ipi-status {
        background: var(--clr-azure-95);
    }

    .logistic-details .main-details .detail-value,
    .logistic-details .palet-details .detail-value,
    #warehouse-in-out-Accordion .detail-value,
    .warehouse-in-out-details .detail-value {
        font-weight:bolder;
        color:var(--clr-grey-20);
        line-height:1.4em;
        font-family: var(--font-primary);
    }

    .info-label,
    .detail-label {
        color:var(--clr-azure-46);
        font-family: var(--font-secondary);
        text-transform: uppercase;
        line-height: 1em;
        font-size:var(--font-size-xs);
        display:block;
    }

    .hbl-item-details-modal .details-card h2,
    .hbl-item-details-modal .photo-gallery-section h2,
    .hbl-item-details-modal h3,
    .mbl-details.ipi-tracing h2,
    .mbl-details.ipi-tracing .useful-links h2,
    .warehouse-in-out h3        {
        font-family: var(--font-secondary);
        font-size: var(--font-size-base);
        color:var(--clr-blue-brand);
        font-weight:bold;
    }

        .hbl-item-details-modal .details-card h2 {
            font-size: var(--font-size-xl);
            color: var(--clr-azure-46);
        }

        .hbl-item-details-modal h3 {
            font-size:var(--font-size-xs);
        }

    .hbl-item-details-modal .status-timeline.local-pickup {
        height:100%;
        justify-content: flex-start;
    }

    .hbl-item-details-modal .main-content {
        display:grid;
        grid-template-columns: 6fr 2.25fr 2.5fr;
        grid-template-rows:1fr auto;
    }

        .hbl-item-details-modal .main-content .logistic-details {
            grid-area: 1 / 1 / 2 / 2;
        }

        .hbl-item-details-modal .main-content .notes-details {
            grid-area: 1 / 2 / 3 / 3;
        }

        .hbl-item-details-modal .main-content .exam-details {
            grid-area: 2 / 1 / 3 / 2;
        }

        .hbl-item-details-modal .main-content .ipi-status {
            grid-area: 1 / 3 / 3 / 4;
        }

    
    .btn-outline-dark i.btn-icon,
    .btn-outline-dark i.btn-icon img,
    .link-offset-2 i.btn-icon,
    .link-offset-2 i.btn-icon img {
        height:1rem;
        transition:filter ease .2s;
    }
    
    .btn-outline-dark:hover i.btn-icon img {
        filter:invert();
    }
    

    .ams-section { 
        display:flex;
        flex-direction:column;
        gap:.5rem;
        padding:.75rem 0;
    }

    .ams-section .ams-list-item {
            background:var(--clr-azure-95); 
            border:0.0625rem solid var(--clr-azure-89);
            margin-left:0; margin-right:0; 
            border-radius:.5rem;
            font-family:var(--font-primary);
            align-items: center;
            transition:background-color .3s ease;
            min-height:2.5rem;
            box-shadow:var(--shadow-sm);
    }

    .ams-section .ams-list-header {
            font-family:var(--font-secondary);
            font-size:var(--font-size-xs);
            line-height:1em;
    }

    .ams-list-grid,
    .ams-header-grid {
            display: grid;
            grid-template-columns: 10rem 3.875rem 4.35rem 5.25rem 5.25rem minmax(21rem, auto) 7.5rem 6.7rem 6rem;
            grid-template-rows: auto; 
            gap:0; 
            align-items: center; 
            justify-content:stretch;
        }

        .ams-header-grid div:first-child,
        .ams-list-grid div:first-child{
            padding-left:.75rem;
        }

        .ams-list-item .bi.bi-check,
        .ams-list-item .bi.bi-exclamation-circle-fill
        .ams-list-item .bi.bi-dash {
            font-size:var(--font-size-2xl);
            line-height:1em;
        }

        .ams-list-item.danger {
            background: rgb(255 126 142 / 50%);
        }

        .ams-list-item > div,
        .break-word {
            overflow-wrap: break-word;
        }

a.link-offset-2 {
    text-decoration:underline;
    color:var(--clr-navy-800);
}   

a.link-offset-2.muted {
    color:var(--clr-navy-400);
}

    a.link-offset-2:hover {
        color:var(--clr-cyan-47);
    }   

a.link-disabled {
    text-decoration: none;
    cursor:auto;
    color:#000;
}

a.link-disabled:hover {
    color:#000;
}

/* Photo gallery in HBL details */

.photo-thumbnail {
    width:7.9375rem; height:auto; max-height:5rem;
    border-radius:var(--border-radius-sm);
}

.notes-details .detail-value {
    min-height:2.375rem;
    display:inline-block;
}

.notes-details .details-list,
.ipi-status .status-timeline {
    height: 100%;
    display: grid;
    align-content: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap:var(--space-1);
}

body, button, input, select, textarea {
line-height: initial;
}

.status-timeline {
    font-family: var(--font-secondary);
    font-size:var(--font-size-sm);
}

.hbl-item-details-modal .main-content .detail-pair.commodity p {
    height:4.75rem; 
    line-height:130%!important; 
    overflow-y:scroll!important;
    padding:0.5rem;
    border-radius:.25rem;
    background: var(--clr-azure-89);
}

.ipi-status {
    display:flex; flex-direction:column;
    justify-content:space-between;
    align-items:start;
    color:var(--clr-grey-20);
}

    .ipi-status.local-pickup .status-marker .bi-check-lg,
    .ipi-status.local-pickup .status-marker .bi-dash-lg,
    .ipi-status.local-pickup .status-marker .bi-x-lg { display:none; } /* Set icons to display none to be able to enable them with parent classes */

    .ipi-status .status-item.status-success .status-marker {
        background:var(--clr-success);
    }
    .ipi-status .status-item.status-success .status-label,
    .ipi-status .status-item.status-success .status-title {
        color:var(--clr-success)!important;
    }
        .ipi-status.local-pickup .status-item.status-success .bi-check-lg {
            display:block; /* Enables check for success parent class */
        }

    .ipi-status .status-item.status-disabled .status-marker {
        background:var(--clr-navy-400);
    }
    .ipi-status .status-item.status-disabled .status-label,
    .ipi-status .status-item.status-disabled .status-title {
        color:var(--clr-navy-400)!important;
    }
        .ipi-status.local-pickup .status-item.status-disabled .bi-dash-lg {
            display:block; /* Enables dash for disabled parent class */
        }

        .ipi-status .status-item.status-disabled .rejection-notice .status-title {
            color:var(--clr-navy-400)!important;
            text-decoration: none;
            cursor:text;
        }
            .ipi-status .status-item.status-disabled .rejection-notice .status-title .bi-printer { display: none;}

    
    .ipi-status .status-item.status-danger .status-marker {
        background:var(--clr-danger);
    }
    .ipi-status .status-item.status-danger .status-label,
    .ipi-status .status-item.status-danger .status-title {
        color:var(--clr-danger)!important;
    }
        .ipi-status.local-pickup .status-item.status-danger .bi-x-lg {
            display:block; /* Enables X for danger parent class */
        }
        
        .ipi-status.local-pickup .status-item.status-danger .rejection-notice a {
            color:var(--clr-danger);
        }
        .ipi-status.local-pickup .status-item.status-danger .rejection-notice a:hover {
            color:var(--clr-danger-dark);
        }

    .ipi-status .status-marker {
        border-radius:100%;
        align-self:start;
        width:1.25rem;
        height:1.25rem;
        text-align:center;
        display:flex; justify-content:center;
        aspect-ratio: 1!important;
        margin-left:-1px;
    }

    .ipi-status .pending .status-marker {
        background: var(--clr-navy-500);
    }


        .ipi-status .status-marker i.bi{
            color:white;
            margin:auto;
            line-height: 0!important;
        }       

    .ipi-status .status-item {
        display:flex;
        gap:.5rem;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .ipi-status .status-title {
        font-weight:bold;
    }

    .ipi-status .status-info b {
        min-width: 40px;
        display: inline-block;
    }

        .ipi-status .status-title .status-meta {
            font-weight:normal!important;
        }

        .status-item.border-top {
            border-top:0.0625rem solid var(--clr-azure-85)!important;
        }

        .status-title.btn {
            font-size:var(--font-size-sm);
        }

        .status-title.btn i,
        .view-history-link.btn i,
        a i.bi  {
            transition:margin-left ease .2s;
            font-size:120%;
            display:inline-block;
        }

        .status-title.btn:hover i,
        .view-history-link.btn:hover i,
        .hbl-master-list a:hover i.bi
         {
            margin-left:.5rem!important;
        }

    .ipi-status .status-label {
        text-transform: uppercase;
        color:var(--clr-success);
        font-weight:bold;
        line-height:1em;
    }

    .pending {
        color:initial;
        color:var(--clr-grey-20);
    }

.ipi-warehouse-buttons {
    display:flex;
    flex-direction:column;
    gap:0.125rem;
    font-size:var(--font-size-xs);
    color:var(--clr-azure-19);
    text-transform:uppercase;
}

.container-fluid {
    max-width:112.8rem;
}

.exam-details .aside-details {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: .75rem;
}

html {
    font-size: clamp(1rem, 0.5rem + 0.625vw, 1.25rem)!important;
}

.lfd-godate {
    flex-direction:column;
}

/* IPI Tracing page */

.card-shadow.destination {
    position:relative;
    outline: 1rem solid #DCE2EF;
    box-sizing: border-box;
    margin-right:1.5rem;
}

.transport-badge { padding: 5px 12px; border-radius: 20px; font-size: 0.8rem; font-weight: 600; }
        .badge-truck { background-color: #eef4fc; color: #0d6efd; }
        .badge-rail { background-color: #eef4fc; color: #0d6efd; }


.ipi-milestones {
    font-family: var(--font-secondary);
    flex-grow:10;
    max-height:30rem;
    overflow-y:scroll;
}

.sticky-column-content {
    position:sticky;
    top:5rem;
}

#warehouse-in-out-Accordion .accordion-body .row:first-child .detail-label {
    display: inline-block;
}

.useful-links {
    font-family: var(--font-secondary)!important;
}
    
    .useful-links .dropdown-menu {
        display: block;         
        visibility: hidden;      
        opacity: 0;             
        max-height: 0;          
        overflow: hidden;   
        transition:max-height ease .8s;  
    }
    .useful-links .dropdown-menu.show {
        inset:0.25rem auto auto 0!important;
        padding-top:0; padding-bottom:0;
        height:auto;
        visibility: visible;    
        opacity: 1;       
        max-height: 300px;   
        transition:margin-top ease .8s;     
    }

    .useful-links .dropdown-menu.show a.dropdown-item {
        padding:var(--space-3) var(--space-4)!important;
        transition:all .2s ease;
    }
    .useful-links .dropdown-menu.show a.dropdown-item:hover {
        background-color:var(--clr-azure-70);
        text-decoration: none;
    }
    .useful-links .dropdown-menu.show a.dropdown-item:active {
        background-color:var(--clr-azure-19);
        text-decoration: none;
    }

.warehouse-in-out-details {
    border-radius:var(--border-radius-md);
    overflow: hidden;
    border: 1px solid var(--bs-border-color-translucent);
}

.warehouse-in-out-details .warehouse-details-header div {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color:var(--clr-white);
}


#warehouse-in-out .accordion-collapse div.form-check {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    border-radius:5rem;
    padding:var(--space-2) var(--space-3);
}

    #warehouse-in-out .accordion-collapse .form-switch.form-check-reverse .form-check-input {
        margin-right:0; margin-top:0;
    }


.whse-in-out .accordion-button:not(.collapsed) {
    background-color:var(--clr-navy-600);
    color:white;

    span {
        color:white;
    }

    span span {
        color:white!important;
    }
}

.whse-in-out .accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1);
}



/* Search Modal */

header#header {
    position: relative; 
    z-index: 1060; /* Higher than Bootstrap's modal (1055) */
    background-color: white; /* Ensure header isn't transparent */
}

.modal-under-header.modal {
    top: 3.849375rem !important; 
    height: calc(100% - 3.849375rem) !important; 
}

.modal-backdrop {
    top: 3.849375rem !important; 
    height: calc(100% - 3.849375rem) !important;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    --bs-backdrop-opacity: 1 !important;
    
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-body {
    @media (max-width:576px){
        padding:var(--space-4);
    }
}

.modal-body label {
    flex-grow:2;
}

.modal-body .search-container {
    flex-direction:row;

    @media (max-width:992px) {
        flex-wrap:wrap!important;
    }

    @media (max-width:576px) {
        flex-direction:column;
    }
}


.modal-lg, .modal-xl {
    @media (min-width: 992px) {
        --bs-modal-width: 44rem;
    }
}


/* Transit Time Schedule */

.availavility-v2 .table-striped>tbody>tr:nth-of-type(odd){
    background-color: var(--clr-azure-89)!important;
}

.availavility-v2 .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--clr-azure-89)!important;
}

.availavility-v2 .table-striped>tbody>tr:hover>* {
    --bs-table-bg-type:#b8eeff!important;
}

.availavility-v2 .Availability-table {
    font-family:var(--font-primary);
}

.availavility-v2 .Availability-table thead th {
    font-family:var(--font-secondary);
    font-size: var(--font-size-xs);
    background-color:var(--clr-navy-700)
}

.availavility-v2 .Availability-table tbody tr>td:first-child{
    padding-right:var(--space-8);
    font-weight:bolder;
}

.availavility-v2 .Availability-table tbody td {
    vertical-align: middle;
}

/* -------- Charges Page -------*/

.availavility-v2 table.ginfo {
    width:100%!important;
    max-width:50rem;
    margin:0!important;
}

.availavility-v2 .charges-table .btn-group {
    flex-direction:column!important;
    display: flex;
    gap:var(--space-2);
    max-width:12rem;
}

.availavility-v2 .charges-table .btn-group button {
    background-color:var(--clr-cyan-47);
    border:1px solid var(--clr-cyan-47);
}

    .availavility-v2 .charges-table .btn-group button:hover {
        background-color:var(--clr-azure-19);
        border:1px solid var(--clr-azure-19);
    }





/* --------------- Responsive styles -------- */

@media screen and (min-width:1366px){
    .container-fluid {
        max-width:112.8rem;
    }
}

@media screen and (min-width:1920px){
    .container-fluid {
        max-width:94vw;
    }
    html { 
        font-size: clamp(1.25rem, -0.5rem + 1.4583vw, 3rem)!important;
    }
}

@media screen and (min-width:1279px) {
    .hbl-master-list .hbl-list-item .badge {
        text-wrap: auto;
        max-width: 16rem;
        margin: .5rem 0;
    }
}

    @media screen and (max-width:1279px){

        .milestone-v2-container {
            width:100%!important;
        }

        .lfd-godate {
            width:100%!important;
            flex-direction:row;
            margin-top:var(--space-5)!important;
        }

        /* ----    HBL Table layout     ----- */
        .hbl-master-list .hbl-list-grid {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
        }

        .hbl-master-list .hbl-list-grid .hbl{
            min-width:86%;
            padding:1rem .75rem;
            font-size:1rem;
        }

        .hbl-master-list .hbl-list-grid .quantity {
            max-width:5em;
        }

        .hbl-master-list .hbl-list-grid .status {
            min-width:30em;
        }

        .hbl-master-list .hbl-list-grid div:first-child{
            padding-left:.75rem;
        }

        .hbl-master-list .hbl-list-grid {
            row-gap:.75rem;
            column-gap: 1.375rem;
            align-items:flex-start;
            justify-content: flex-start;
            padding:.25rem .25rem .5rem .25rem;
        }
        
        .hbl-master-list .hbl-list-grid .seqno{
            min-width:8%;
            flex-direction:row;
            align-items: center !important;
            padding:.25rem .75rem;
        }

        .hbl-master-list .hbl-list-grid .status {
            min-width:20em;
            align-items:center;
            margin-left:1.25rem;
        }
        .hide-label { display:inline-block; }
        .hide-header { display: none!important; }

        .hbl-master-list .hbl-list-grid .quantity {
            max-width:none;
        }

        .hbl-master-list .hbl-list-grid > div {
            padding:.25rem .75rem;
            flex-direction: column;
            align-items:start!important;
            gap:.5rem;
        }   

        .hbl-master-list .hbl-list-grid .hbl-charges {
            min-width:4%;
        }

        .hbl-master-list .hbl-list-grid .hbl-holds {
            min-width:25%;
        }

        /* Layout inside Offcanvas for AMS lists  */
        .ams-list-grid,
        .ams-header-grid {
                display: flex;
                gap:.75rem; 
                align-items: center; 
                justify-content:stretch;
                flex-wrap;
        }
    }

    @media screen and (max-width:992px){
        .mbl-master-table {
            flex-wrap:wrap;
        }

        .milestone-v2 .check {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--space-2);
            text-align:center;
        }

        .milestone-v2 .check .bi {
            text-align:center;
        }

        .hbl-master-list .hbl-list-grid .status {
            min-width:40%;
            margin-left:0!important;
        }
        .hbl-master-list .hbl-list-grid {
            gap:.25rem;
            padding:.5rem;
        }

        .hbl-master-list .hbl-list-grid .hbl{
            min-width:84%;
            padding:1rem .75rem;
            font-size:1.125rem;
        }
        /* Layout inside Offcanvas */
        .hbl-item-details-modal .main-content {
            grid-template-columns: 6fr 2.5fr!important;
            grid-template-rows: 1fr auto;
        }

        .details-card.ipi-status {
            grid-column: 2 / 3;
            grid-row: 1 / -1;
        }

        .offcanvas-hbl-header {
            flex-wrap:wrap;
        }
            .offcanvas-hbl-header .info-item {
            width:100%;
        }

        .ams-section .ams-list-item {
            padding:.75rem;
            flex-wrap:wrap;
        }

        .ams-section .ams-list-item .hbl {
            font-size:1rem;
            min-width:33%;
        }

        .ams-section .ams-list-item > div {
            flex-direction: column!important;
            padding:.5rem .75rem;
        }

        .milestone-v2 > .col-auto  .icon-64 {
            height:4vw!important;
        }

        .milestone-v2 {
            display: grid;
            grid-template-columns: repeat(11, auto);
            grid-template-rows: auto;
            justify-content: center;
            justify-items: center;
        }
    }

    @media screen and (max-width:768px){
        .mbl-master-table {
            margin-top:.75rem;
        }

        .mbl-master-table div:nth-child(n + 4) {
            border-top:0.0625rem solid var(--clr-azure-85);
        }

        .table-col-mbl {
            min-width:40%;
        }

        .milestone-v2 {
            display:flex!important;
            flex-direction:column;
            margin-bottom:.75rem;
        }

        .milestone-v2 > .col-auto {
            display:flex;
            flex-direction: row;
            align-items:center;
            gap:.75rem;
            justify-content: center;
            width:100%;
            margin-top:.25rem; margin-bottom:.25rem;
        }

         .milestone-v2 > .col-auto .check {
            padding-bottom:0;
            border:0;
            order:2;
            min-width:30%;
            font-size:var(--font-size-2xl);
            flex-direction:row;
         }
         .milestone-v2 > .col-auto .date {
            padding-top:0;
            border:0;
            order:3;
            font-size:var(--font-size-2xl);
         }

         .milestone-v2 > .col-auto .icon-64 {
            margin-top:0;
            height:3.75rem!important;
            order: 1;
            aspect-ratio: 1;
            width: 8rem;
         }

        .hbl-item-details-modal .main-content {
            display:flex;
            flex-direction:column;
        }
        .hbl-master-list .hbl-list-grid .hbl{
            min-width:80%;
            padding:1rem .75rem;
            font-size:1.5rem;
        }
        .details-card.ipi-status {
            grid-column: initial;
            grid-row: initial;
        }

        .hbl-item-details-modal .info-bar {
            flex-wrap:wrap!important;
            gap:.75rem;
        }

        .milestone-v2 {
            font-size:190%;
        }

        .milestone-v2 .bi.bi-chevron-right {
            display:none;
        }

        .ams-section .ams-list-item .hbl {
            min-width:100%;
            padding:var(--space-2);
        }


    }

    @media screen and (max-width:576px){
        .hide-mobile {
            display:none!important;
        }

        .nav-search-bar {
            display: grid;
            grid-template-columns: repeat(1, 1fr auto);
            grid-template-rows: repeat(3, 1fr);
        }

        .nav-search-bar label:first-child {
            grid-area: 1 / 1 / 2 / 2;
        }
            .nav-search-bar .form-control {
                margin-left:0!important;
            }

        .nav-search-bar label:nth-child(2) {
            grid-area: 2 / 1 / 3 / 2;
        }
            .nav-search-bar label:nth-child(2) input {
                width:100%
            }
        .nav-search-bar .btn-primary { grid-area: 3 / 1 / 4 / 2; }
        .nav-search-bar .btn-close { grid-area: 1 / 2 / 4 / 3; }


        .mbl-master-table .table-col {
            display:flex;
            flex-direction:row;
            text-align:left;
            border:0!important;
            align-self:baseline;
        }
        .mbl-master-table .table-col .table-header {
            border:0!important;
            align-self:baseline;
        }

        .mbl-master-table .table-data {
            justify-content: start;
        }

        .hbl-master-list .hbl-list-grid .hbl{
            font-size:1.25rem;
        }

        .hbl-master-list .hbl-list-grid > div {
            min-width:100%;
            flex-direction: row!important;
            justify-content: flex-start!important;
            align-items:center!important;
        }
        .hbl-master-list .hbl-list-grid .quantity {
            min-width:30%;
        }

        .hbl-master-list .hbl-list-grid .status {
            border-top:0.0625rem solid var(--clr-azure-95);
            width:100%;
            justify-content:space-between!important;
            align-items:flex-start!important;
            padding-top:.75rem;
        }
            .hbl-master-list .hbl-list-grid .status>div{
                flex-wrap:wrap;
            }

        .hbl-master-list .hbl-list-grid .status .hide-label {
            padding-top:0.3125rem;
        }

        .hbl-master-list .hbl-list-grid .status .badge {
            font-size:var(--font-size-sm);
        }

        .hbl-master-list .hbl-list-grid .status .ipi-warehouse-buttons {
            flex-direction:row;
            gap:.75rem;
        }

        .milestone-v2 > .col-auto {
            justify-content: flex-start!important;
            gap: 1.5rem;
            padding:0!important;
        }

            .milestone-v2 > .col-auto .icon-64 {
                height: 3.5rem !important;
                width:auto;
            }

            .milestone-v2 > .col-auto .date { 
                margin-left:auto;
            }

            .terminal-appt-status span:first-child {
                background: var(--clr-cyan-47);
                border-top-left-radius: var(--border-radius-md);
                border-top-right-radius: var(--border-radius-md);
                border-bottom-left-radius: 0;
            }

        .terminal-appt-status {
            flex-direction:column;
            margin-left: calc(var(--space-2) * -1);
            margin-right: calc(var(--space-2) * -1);
        }

        .offcanvas-header {
            flex-direction:column;
            gap:var(--space-3);
        }

        /* Offcanvas open from bottom  */
        .offcanvas-end.offcanvas {
          transform: translateY(100%);
          top: auto;
          right: 0;
          left: 0;
          bottom: 0;
          height: auto;
          max-height:85vh;
          width: 100vw;
          min-width: none;
        }

        .offcanvas-end.offcanvas.show {
          /* Show the offcanvas from the bottom when open */
          transform: translateY(0);
        }

        .exam-details .aside-details {
            display: flex;
            flex-direction: row;
            gap: .75rem;
            justify-content: space-between;
            padding-top:.75rem;
            padding-left:.75rem!important;
        }
        
        .info-item-holds {
            width:100%;
        }

        .ams-list-item {
            flex-wrap:wrap;
            gap:.25rem;
        }
    }

.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #333 transparent; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}

/* The draggable handle (thumb) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px; 
}

/* The track (background) */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; 
  border-radius: 10px;
}

/* Remove the arrows at the start and end of the scrollbar (WebKit) */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.offcanvas-backdrop {
      opacity:.7!important;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.offcanvas {
    z-index: 1060;
} /* Fix for header being over offcanvas */

/* Applies top margin when navigating to an element ID */
:target {
    scroll-margin-top: 5.2rem; /* Adjust '5rem' to match your fixed header height */
}

.no-wrap {
    text-wrap:nowrap;
}